*{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* background-color: gray; */
}
body{
    /* background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
}
.demo{
    color: red;
    border: 2px solid black;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
    opacity: 0.8;
    height: 50px;
    /* width: 100px; */
    text-align: center;
    /* text-decoration: line-through; */
    text-transform: lowercase;
    text-shadow: 5px 5px 5px black;
    text-indent: 10px;
}

#try{
    color: blue;
}
p{
    border: 2px solid black;
    /* height: 100px;
    width: 200px; */
    overflow: auto;
    text-indent: 10px;
    font-size: smaller;
    font-weight: bold;
    font-style: italic;
    /* letter-spacing: 5px; */
    /* word-spacing: 5px; */

}

p::first-letter{
    font-size: 40px;
}

p::after{
    content: url("2.jpg");
}
ul li{
    display: inline-block;
}

.icon{
    font-size: 100px;
    color: brown;
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}
a:visited{
    color: blue;
}

.fix{
    height: 50px;
    width: 300px;
    border: solid;
    background-color: yellow;
    right: 0;
    bottom: 0;
    position: fixed;
}

.stiky{
    width: 100%;
    height: 50px;
    background-color: yellow;
    border: solid;
    margin-bottom: 700px;
    position: sticky;
    top: 0;
    left: 0;
}

.relative{
    height: 500px;
    width: 500px;
    position: relative;
    background-color: red;
}

.absolute{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: yellow;
    right: 0;
    bottom: 0;
}