*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.demo{
    height: 100px;
    width: 100%;
    background-color: red;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 5px 10px black;
    text-indent: 5px;
}

/* p{
    height: 80px;
    width: 100%;
    background-color: aqua;
    text-indent: 5px;
    font-size: 20px;
    font-style: oblique;
} */

/* p::before{
    content: url('2.jpeg');
} */

/* p::after{
    content: url('2.jpeg');
} */

/* p::first-letter{
    font-size: 60px;
} */

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: yellowgreen;
}

a:visited{
    color: blue;
}

/* .fix{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: yellow;
    text-align: center;
    z-index: 101;
} */

.stiky{
    position: sticky;
    top: 0;
    left: 0;
    background-color: red;
    height: 20px;
    width: 100%;
}

.relative{
    position: relative;
    background-color: aqua;
    height: 500px;
    width: 50%;
}

.absolute1{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110px;
    width: 110px;    
    background-color: red;
    z-index: 3;
}

.absolute2{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 130px;
    width: 130px;    
    background-color: yellow;
    z-index: 2;
}

.absolute3{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 150px;    
    background-color: green;
    z-index: 1;
}

.fl{
    /* float: right; */
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    width: 610px;
    height: 1200px;
    display: grid;
    grid-template-rows: repeat(3,200px);
    grid-template-columns: repeat(3,200px);
    gap: 5px;
    background-color: yellow;
}

.fl p{
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}