*{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.demo{
    height: 100px;
    width: 100%;
    background-color: red;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 5px 10px black;
    text-indent: 5px;
}

p{
    height: 80px;
    width: 100%;
    background-color: aqua;
    text-indent: 5px;
    font-size: 20px;
    font-style: oblique;
}

/* p::before{
    content: url('2.jpeg');
} */

p::after{
    content: url('2.jpeg');
}

p::first-letter{
    font-size: 60px;
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: yellowgreen;
}

a:visited{
    color: blue;
}

.fix{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: yellow;
    text-align: center;
    z-index: 101;
}

.stiky{
    position: sticky;
    top: 0;
    left: 0;
    background-color: red;
    height: 20px;
    width: 100%;
}

.relative{
    position: relative;
    background-color: aqua;
    height: 500px;
    width: 100%;
}

.absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;    
    background-color: red;
}